<% provide(:title, @user.name) %>

<div class="row">
  <div class="span6 offset3">
    <p>
      <strong>Nome:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @user.password %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Perfil:</strong>
      <%= @user.profile %>
    </p>

    <p>
      <strong>Cidade:</strong>
      <%= @user.cidade.nome %>
    </p>

    <% if admin? %>
        <div class="form-actions">
          <%= link_to 'Editar', edit_user_path(@user), :class => 'btn btn-default' %>
          <%= link_to 'Excluir', @user, method: :delete, data: {confirm: 'Confirma a exclusão?'}, :class => 'btn btn-danger' %>
          <%= link_to 'Voltar', users_path, :class => 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>