<span class="badge badge-important pull-right"><%= pluralize(@cautela.cautelaitems.sum(:quantidade), 'item') %></span>

<table class='table table-condensed'>
  <thead>
  <tr>
    <th>Código</th>
    <th>Tipo</th>
    <th>Descrição</th>
    <th>CA ou Serial</th>
    <th>Validade</th>
    <th>Quantidade</th>
    <% if @cautela.can_update? & !validating %>
        <th></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @cautela.cautelaitems.each do |item| %>
      <tr>
        <td><%= item.material.codigo %></td>
        <td><%= item.material.tipo %></td>
        <td><%= item.material.nome %></td>
        <td><%= item.serial %></td>
        <td><%= item.validade %></td>
        <td><%= item.quantidade %></td>
        <% if @cautela.can_update? & !validating %>
            <td>
              <%= link_to [item.cautela, item], method: :delete do %>
                  <i class="icon-trash" title="Remover"></i>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>