<%= render :partial => 'layouts/messages', flash: flash %>

<% provide(:title, 'Sign in') %>

<h1>Cautelas (<%= @cautelas.count %>)</h1>

<%= render :partial => 'layouts/tablesearch', locals: {:path => cautelas_path, :placeholder => 'Colaborador'} %>

<table class="table table-striped"> <!-- table-condensed -->

  <div class="pagination">  <!-- Try apple_pagination, digg_pagination -->
    <%= will_paginate(@cautelas, renderer: BootstrapPagination::Rails) %>
  </div>

  <thead>
  <tr>
    <th>#</th>
    <th>Colaborador</th>
    <th>Operador</th>
    <th>Data</th>
    <th>Doc</th>
    <th>Status</th>
    <th>Items</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @cautelas.each do |cautela| %>
      <tr>
        <td><%= link_to cautela.id, cautela, :class => 'btn btn-link' %></td>
        <td><%= link_to cautela.colaborador.nome, cautela, :class => 'btn btn-link' %></td>
        <td><%= cautela.user.name %></td>
        <td><%= cautela.data %></td>
        <td><%= image_tag 'bullet.png' if !cautela.is_valid? %></td>
        <td><%= cautela.status %></td>
        <td><%= cautela.cautelaitems.count %></td>
        <td><%= link_to 'Excluir', cautela, method: :delete, data: {confirm: 'Confirma a exclusão?'}, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nova Cautela', new_cautela_path, :class => 'btn' %>
<%= link_to 'CSV Download', cautelas_path(:format => :csv), :class => 'btn' %>
