<div class="row">
  <div class="span6 offset3">

    <%= simple_form_for @cidade, :html => {:class => 'form-horizontal'} do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <div class="control-group">
          <%= f.label :nome, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :nome %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :fabrica, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :fabrica_id, @fabricas.collect { |a| [a.nome, a.id] } %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
          <%= link_to 'Cancelar', cidades_path, :class => 'btn' %>
        </div>
    <% end %>
  </div>
</div>
