<% provide(:title, @material.nome) %>

<div class="row">
  <div class="span6 offset3">

    <p>
      <strong>Tipo:</strong>
      <%= @material.tipo %>
    </p>

    <p>
      <strong>Codigo:</strong>
      <%= @material.codigo %>
    </p>

    <p>
      <strong>Nome:</strong>
      <%= @material.nome %>
    </p>

    <div class="form-actions">
      <%= link_to 'Editar', edit_material_path(@material), :class => 'btn btn-default' %>
      <%= link_to 'Excluir', @material, method: :delete, data: {confirm: 'Confirma a exclusão?'}, :class => 'btn btn-danger' %>
      <%= link_to 'Voltar', materials_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>
