<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Ficha de Cautela</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="span10"><%= yield %></div>
    <div class="span2">
      <div class="no-print">
        <br>
        <br>
        <%= link_to 'Imprimir', 'javascript:print()', :class => 'btn btn-primary' %>
        <br>
        <br>
        CIPA 13/14 Campinas SP
      </div>
    </div>
  </div>
</div>
</body>
</html>
